<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="48x48" href="/favicon.ico">
<title>LuKa - <%= title %></title>
  <!-- Remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/media.css">
  <link rel="stylesheet" href="/css/alerts.css">

  <script type="module" src="/js/main.js" defer></script>
