<!DOCTYPE html>
<html lang="en">
<head>
  {{ > head }}
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  {{ > header }}
  <main>

  <section class="home">
  </section>
  </main>
</body>
</html>