{% extends 'base.html' %}

{% set title = 'Register' %}
{% set page = 'register' %}

{% block css %}
  <link rel="stylesheet" href="/css/forms.css" />
{% endblock %}

{% block content %}
<section class="small-form">
  <div class="place-items-center" style="width: 100%;">
    <h1>Register</h1>
  </div>

  <form class="form" action="/users/register" method="POST">
    <div class="form-section">
      <div class="input-group">
        <label class="input-label" for="email">email
          <!-- <i class="ri-at-line input-icon"></i>  -->
        </label>
        <input class="input" type="email" placeholder="Email"
          name="email" id="email" required
          value={{ value.email }}
        >
        <p class="input-error">{{ error.email }}</p>
      </div>

      <div class="input-group">
          <label class="input-label" for="alias">alias
        </label>
        <input class="input" type="text" placeholder="Alias"
          name="alias" id="alias" required
          value={{ value.alias }}
        >
        <p class="input-error">{{ error.alias }}</p>
      </div>

      <div class="input-group">
        <label class="input-label" for="password">password
          <!-- <i class="ri-lock-line"></i> -->
        </label>
        <input class="input" type="password" name="password"
          id="password" placeholder="Password" required
          value={{ value.password }}
        >
        <p class="input-error">{{ error.password }}</p>
      </div>

      <div class="input-group">
        <label class="input-label" for="password_confirmed">repeat password
          <!-- <i class="ri-lock-line"></i> -->
        </label>
        <input class="input" type="password"
          name="password_confirmed" id="password_confirmed"
          placeholder="Repeat Password" required
          value={{ value.confirm }}
        >
        <p class="input-error">{{ error.password_confirmed }}</p>
      </div>
    </div>

    <div class="form-section">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
</section>
{% endblock %}
