@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  /* Variables */
  --font-family: 'Poppins', sans-serif;
  --font-secondary: 'Parisienne', cursive;

  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;

  --primary-color: #f7c873;
  --secondary-color: #434343;
  --text-color: #434343;
  --highlight-color: #faebcd; 
  --background-color: #f8f8f8;
}

/* Theme color change */
body.dark-theme {
  --primary-color: #252830;
  --secondary-color: #afb6cd;
  --text-color: #afb6cd;
  --highlight-color: #fff;
  --background-color: #131417;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--text-color);
  background-color: var(--background-color);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

h1, h2, h3, h4 { margin: 2rem 0 1rem 0; }

h1 {
  font-size: var(--font-size-xl);
  font-weight: 800;
}

h2 {
  font-size: 2.6rem;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
  font-weight: 800;
}

h4 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  margin: 1rem 0;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
}

i { font-size: var(--font-size-lg); }

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 1rem 0 1rem 2rem;
}

img {
  max-width: 100%;
}

/* Reusable classes */

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-block: 5rem;
}

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

.btn {
  flex-grow: 1;
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  background-color: var(--highlight-color);
  border: 2px solid var(--background-color);
  border-radius: 1rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.btn:hover {
  color: var(--background-color);
  border-color: var(--background-color);
}

.btn-small {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
}

.btn-primary {
  border: none;
  background-color: var(--primary-color);
  color: var(--highlight-color);
}

.btn-primary:hover {
  /* background-color: #65a30d; */
  /* background-color: #4fcf70; */
  /* color: #fff; */
  /* opacity: 0.8; */
  filter: brightness(110%);
  /* filter: brightness(110%); */
}

.btn-alert {
  border: none;
  background-color: #ef4444;
  color: #f8fafc;
}

.btn-alert:hover {
  opacity: 0.8;
}

.btn-outline {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}

.btn-outline:focus,
.btn-outline:hover {
  opacity: 0.8;
}
