@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Parisienne', cursive;

  --font-size-xs: 1rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;
  
  --color-success-md: #008000;
  --color-success-lt: #00B800;
  --color-warn-md: #ffa500;
  --color-warn-lt: #ffc71b;
  --color-error-md: #ff2323;
  --color-error-lt: #ff5757;

  --theme-color-primary: #f7c873;
  --theme-color-secondary: #434343;
  --theme-color-text: #434343;
  --theme-color-hl: #faebcd; 
  --theme-color-bg: #f8f8f8;
  --theme-color-btn-bg: #f8f8f8;
  --theme-color-btn-bg-lt: #fff;
  --theme-color-btn-txt: #888;
  --theme-color-btn-outline: #888;
}

/* Theme color change */
body.dark-theme {
  --theme-color-primary: #252830;
  --theme-color-secondary: #434343;
  --theme-color-text: #afb6cd;
  --theme-color-hl: #fff;
  --theme-color-bg: #131417;
  --theme-color-btn-bg: #252830;
  --theme-color-btn-bg-lt: #434343;
  --theme-color-btn-txt: #eee;
  --theme-color-btn-outline: #888;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  /* Base font size = 62.5% or 10px for easy rem usage */
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  background-color: var(--theme-color-bg);
  color: var(--theme-color-text);
  letter-spacing: 1px;
  transition: background-color .25s, color .25s;
}

h1, h2, h3, h4 { margin: 2rem 0 1rem 0; }

h1 {
  font-size: var(--font-size-xl);
  font-weight: 800;
}

h2 {
  font-size: 2.6rem;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
  font-weight: 800;
}

h4 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  margin: 1rem 0;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
}

i { font-size: var(--font-size-lg); }

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 1rem 0 1rem 2rem;
}

img {
  max-width: 100%;
}

/* Reusable classes */

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-block: 5rem;
}

.d-grid {
  display: grid;
}

.screen-sm-hidden {
  display: none;
}

/****************
* Buttons
****************/

.btn {
  display: inline-block;
  background-color: var(--theme-color-btn-bg);
  border: 2px solid var(--theme-color-btn-bg);
  border-radius: 1.5rem;
  color: var(--theme-color-btn-txt);
  padding: 0.7rem 1.5rem;
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15rem;
  cursor: pointer;
  transition: .25s all linear;
  /* transform: scale(.9, .9); */
}

.btn:focus,
.btn:hover {
  background-color: var(--theme-color-btn-bg-lt);
  border: 2px solid var(--theme-color-btn-bg-lt);
  color: var(--theme-color-btn-txt);
  transform: scale(1.02, 1.02) translate(0, -2px);
}
.btn:active {
  background-color: var(--theme-color-btn-bg);
  border: 2px solid var(--theme-color-btn-bg);
  color: var(--theme-color-btn-txt);
  transform: scale(0.98, 0.98) translate(0, 2px);
}

.btn-small {
  padding: 0.3rem 1rem;
  letter-spacing: 1px;
}

.btn:disabled, 
.btn:disabled:hover {
  background-color: lightgray;
  border: 2px solid lightgray;
  color: #f8fafc;
  cursor: not-allowed;
}

.btn-success {
  background-color: var(--color-success-md);
  border: 2px solid var(--color-success-md);
  color: #f8fafc;
}

.btn-success:focus,
.btn-success:hover {
  background-color: var(--color-success-lt);
  border: 2px solid var(--color-success-md);
  color: #f8fafc;
}

.btn-alert {
  background-color: var(--color-error-md);
  border: 2px solid var(--color-error-md);
  color: #f8fafc;
}

.btn-alert:focus,
.btn-alert:hover {
  background-color: var(--color-error-lt);
  border: 2px solid var(--color-error-lt);
  color: #f8fafc;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid var(--theme-color-btn-outline);
  color: var(--theme-color-btn-outline);
}

.btn-outline:focus,
.btn-outline:hover {
  background-color: transparent;
  border: 2px solid var(--theme-color-btn-outline);
  color: var(--theme-color-btn-outline);
}
