section.error {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 15rem;
  padding: 2rem;
  padding-top: 0;
  border: 3px solid var(--secondary-background-color);
  border-radius: 3rem;
}

section.error h1 {
  font-size: 3rem;
  text-align: center;
}
