.filters {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  padding: 0;
}

.filter-section {
  /* border: 1px solid green; */
  margin: 0 0.2rem;
}

.filter-commands {
  /* border: 1px solid blue; */
  display: flex;
  margin: 0 1rem;
}

/* .commands {
  border: 1px solid purple;
} */

.filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 1rem;
}

.filter-group label {
  font-size: 1.2rem;
  color: var(--color-text);
  margin-right: 0.5rem;
}

/* .filter-group select, 
.filter-group input {
  color: var(--theme-color-panel);
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--theme-color-panel);
}

.filter-group select::placeholder,
input::placeholder {
  color: lightgray;
} */

select {
  padding: 1rem;
  background-color: inherit;
  color: var(--color-text);
}

label {
  font-size: var(--font-size-xs);
}

input {
  font-size: var(--font-size-sm);
}
