.filters {
  /* border: 1px solid red; */
  padding: 0;
}

.filter-section {
  /* border: 1px solid green; */
  margin: 0 0.2rem;
}

.filter-commands {
  /* border: 1px solid blue; */
  display: flex;
  margin: 0 1rem;
}

/* .commands {
  border: 1px solid purple;
} */

select,
input {
  color: inherit;
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
  padding: 0.3rem 0.6rem;
}

select::placeholder,
input::placeholder {
  color: lightgray;
}

.btn-small {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
}
