.header {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  top: -0.6rem;
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  color: var(--highlight-color);
}

.menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color:var(--primary-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu > .list {
  flex-direction: column;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.list-link.current {
  color: var(--highlight-color);
}

.close-menu-icon {
  display: none;
}

.btn-icon {
  cursor: pointer;
}

.list-link:hover,
.btn-icon:hover,
.btn-icon:hover span {
  color: var(--highlight-color);
}

i.sun-icon {
  display: none;
}

.dark-theme .sun-icon {
  display: block;
}

.dark-theme i.moon-icon {
  display: none;
}

/* Header JavaScript Styles */

.header.activated {
  box-shadow: 0 1px .5rem rgba(255, 255, 255, .05);
}

.menu.activated {
  box-shadow: 1px 1px 1rem rgba(255, 255, 255, .05);
  opacity: 1;
  transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon {
  display: none;
}

#theme-toggle-btn {
  background-color: transparent;
}

#menu-toggle-icon {
  background-color: transparent;
}

.menu-toggle-icon.activated .close-menu-icon {
  display: block;
}

.profile-pic {
  border-radius: 50%;
  max-height: 32px;
}
