{% extends 'base.html' %}

{% set title = 'Proverbs' %}
{% set page = 'proverbs' %}

{% block css %}
  <link rel="stylesheet" href="/css/proverbs.css" />
{% endblock %}

{% block content %}
<section class="proverbs">
  <div class="place-items-center" style="width: 100%;">
    <h1>Proverbs</h1>
  </div>
  <article>
    <ul>
      {% for item in proverbs %}
      <li>{{ item.title }}</li>
      {% else %}
      <li>This would display if the 'item' collection were empty</li>
      {% endfor %}
    </ul>
  </article>
</section>
  {% endblock %}
