<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/about.css" />
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <section class="about">
      <h1>About</h1>

      <article class="info">
        <div>
          <p>Hi there! I am Kaj Lund. I live on the Finnish northern west coast.
            I have been working as a professional software developer since 1998.
            During the past 10+ years I've mainly worked with fullstack web development mostly
            building backends and REST APIs using Node.js.
          </p>
          <p>Lately I'm back to mostly doing Delphi backend programming and Node.js integrations.</p>
        </div>
        <img src="/img/LuKa.jpg" alt="LuKa">
      </article>
    </section>
  </main>
</body>
</html>